<% provide(:title, "About Us") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About Us</h1>
   Hey there,
</br>
</br>
First off, thanks for checking out SXSWhat.
</br>
</br>
This website was made for a few reasons.
</br>
</br>
We wanted a South by South West event schedule site that was quick and efficient enough to find what we were looking for. However, in our years of hectic party scheduling and searching for free drinks around Austin during the madness, there's yet to be one all-inclusive service that has everything we're looking for.
</br>
</br>
So we made SXSWhat.
</br>
</br>
SXSWhat is the answer to the question of what to do during SXSW.
</br>
</br>
It is a comprehensive, user submitted list of all of the hottest parties and shows going on during SXSW.
</br>
</br>
We added simple filtering options to make it easy to find what you're looking for, for instance: Free drinks, free entry, 18+, etc. 
</br>
</br>
The purpose of this website is to provide everyone with a simple and effective way to find the best SXSW shows and parties in the easiest way possible. If you have any ideas or suggestions on how to improve SXSWhat, please let us know your thoughts at <a href=”mailto:ideas@sxswhat.com”>ideas@sxswhat.com</a>
</br>
</br>

  </body>
</html>
