<% provide(:title, "Contact Us") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Contact Us</h1>
    <p>
Go ahead and contact us for any reason. Please. We're lonely. 
</br>
</br>
<b>Censored Showlist</b> 
</br>
<a href="http://www.censoredshowlist.com">www.censoredshowlist.com</a>
</br>
Austin, Texas 
</br>
512.774.4471
</br>
<a href="mailto:contact@censoredshowlist.com">contact@censoredshowlist.com</a> 
</br>    </p>
  </body>
</html>
