<% provide(:title, "Contact Us") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Contact Us</h1>
    <p>
If you want to contact us for any reason

<b>SXSWHAT<b> 
</br>
<a href="http://www.sxswhat.com">www.sxswhat.com</a>
</br>
Austin, Texas 
</br>
512.774.4471
</br>
<a href="mailto:contact@sxswhat.com">contact@sxswhat.com</a> 
</br>    </p>
  </body>
</html>
