<div id='cal' class='btn btn-primary center'>Cal view</div>
<div id='list' class='btn btn-success center'>List view</div>

<script language="javascript" type="text/javascript">

  jQuery(
    function calview($) {
      $('#cal').on('click', function() {
        $("#calview").html('<%= escape_javascript(render "calview").html_safe %>');
        $("#listview").empty();
      });
    }
  );

  jQuery(
    function listview($) {
      $('#list').on('click', function() {
        $("#listview").html('<%= escape_javascript(render "listview").html_safe %>');
        $("#calview").empty();
      });
    }
  );
</script>

<div id="calview"></div>
<div id="listview">
  <%= render "listview" %>
</div>
