.col-md-6 img{
display:block;
width:100%;


}
.hero-unit {

margin-top: 50px !important;


}

.navbar-inverse{
background-color:#000;
margin: -50px
}

.container{

margin-top: 50px;
}

.table-striped{
	background-color:#1d1d1d;
}

.table td {

padding: 2px !important;

}
th{
	background-color:black;
}
tr{
	background-color:black;
}

tr.filters{
/*	background-color: rgba(25,36,44,0.8);*/
	background-color: black;
	color: #FFF;
	text-align: center;

}

td.filters{
margin-top: 40px;

}
ul {
	
	margin: 0 0 0 0;

}


/*mixins, variables, etc */

$grayMediumLight: #eaeaea;
$grayLighter: #999;
@mixin box_sizing {
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-box-sizing: border-box;
}

/* misc */
.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;

}

/*.single_event{

	width: 65%;
	background-color: red;
	float:left;
}

.event_sidebar{
	width: 35%;
	background-color:blue;
	float:right;
	clear:both;

}*/
/* universal */

html {
	overflow-y: scroll;
}

body { 
	padding-top: 70px;
/*	background-image:url('/images/bg/debut_light.png');*/
	background-color:#101010;
	color: white;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6{
	line-height: 1;
}

h1{

	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}
a:hover{
	text-decoration: none;

}
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.73em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	font-family: 'Lobster',cursive;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}




/* footer */

footer{
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
	width: 940px;
}
footer a {
	color: #555;
}

footer a:hover{
	color: #222;
}

footer small {
	float: left;
}
footer ul {
	float: right;
	list-style: none;
}

footer ul li{
	float: left;
	margin-left: 10px;
}

/* sidebar */

aside { 
  section {
  	padding: 10px 0;
	border-top: 1px solid $grayLighter;
	&:first-child {
	  border: 0;
	  padding-top: 0;
	}
	span {
	  display: block;
	  margin-bottom: 3px;
	  line-height: 1;
	}
	h1 {
	  font-size: 1.4em;
	  text-align: left;
	  letter-spacing: -1px;
	  margin-bottom: 3px;
	  margin-top: 0px;
	}
    }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}
input[type=checkbox], input[type=submit]{
  width: auto !important;
}
input {
	height: auto !important;
}

#error_explanation {
	color: #f00;
	ul {
	  list-style: none;
	  margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
		  border-bottom: 1px solid $grayLighter;
		}
	}
}


/* table */
table {
  width: 100%;
}








