// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
/*

*/
.single_event{

	background-color:red;
	width: 67%;
	float: left;

}

.event_sidebar{
	
	background-color:blue;
	width: 33%;
	float: right;
}
